<!DOCTYPE html>
<html lang="en">
<head>
  <title>404</title>
  <link rel="icon" href="/img/iconn.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-c">
        {{>header}}
        <p>{{errorMessage}}</p>

  </div>
  {{>footer}}
</body>
</html>