<!DOCTYPE html>
<html >
<head>
  <title>Help</title>
  <link rel="icon" href="/img/iconn.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-c">
{{>header}}
  <h1>{{whatDo}}</h1>

    </div>
  
  {{>footer}}

</body>
</html>